#mapa_id {
    margin: 10px;
    height: 1024px;
    overflow: hidden;
    flex: 1;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}    

.weather-container {
    text-align: center;
}
.weather {
    font-size: 22px;
    margin: 0;
}
.temp {
    font-size: 60px;
    margin: 0;
    font-weight: bold;
}